{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/category.css' %}" rel="stylesheet" />
    <link href="{% static 'css/background.css' %}" rel="stylesheet" />
    <title>Category</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <div class="page">
        <div class="titleback">
          <span class="title">칵테일</span>
        </div>
        <div class="column">
          <div class="line"></div>
          {% for category in categories %}
          <p class="list"><a href="{% url 'list_cocktail' category %}">{{ category }}</a></p>
          <div class="line"></div>
          {% endfor %}
          {% include 'navbar.html' %}
      </div>
    </div>
    <script src="{% static 'js/category.js' %}"></script>
  </body>
</html>