{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/detail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/background.css' %}" rel="stylesheet" />
  <title>Custom</title>
</head>
<body>
  <div class="background"></div>
  <div class="content">
    <div class="page">
      <p class="title">{{ specific_data.custom_name }}<br></p>
      <div class="imgback">
        <img src="{{ specific_data.custom_img_url }}" class="img" alt="custom_image" />
      </div>
      <div class="info">
        <p>재료: {{ specific_data.custom_materials }}</p>
      </div>
      <div id="map" class="map"></div>
      {% include 'navbar.html' %}
    </div>
  </div>

  <script src="{% static 'js/map_cocktail.js' %}"></script>
</body>
</html>