{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/detail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/background.css' %}" rel="stylesheet" />
  <title>Beer</title>
</head>
<body>
  <div class="background"></div>
  <div class="content">
    <div class="page">
      <p class="title">{{ specific_data.beer_name }}<br></p>
      <div class="imgback">
        <img src="{{ specific_data.beer_img_url }}" class="img" alt="beer_image" />
      </div>
      <div class="info">
        <p>카테고리: 맥주 > {{ specific_data.beer_category }} </p>
        <p>생산지: {{ specific_data.beer_country }}<br></p>
        <p>평점: {{ specific_data.beer_score|floatformat:2 }}</p>
        <p>설명: {{ specific_data.beer_description }}<br></p>
      </div>
      <div id="map"></div>
      {% include 'navbar.html' %}
    </div>
  </div>

  <script src="{% static 'js/map_beer.js' %}"></script>
</body>
</html>