{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/detail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/background.css' %}" rel="stylesheet" />
  <title>Whisky</title>
</head>
<body>
  <div class="background"></div>
  <div class="content">
    <div class="page">
      <p class="title">{{ specific_data.whisky_name }}<br></p>
      <div class="imgback">
        <img src="{{ specific_data.whisky_img_url }}" class="img" alt="whisky_image" />
      </div>
      <p class="heart">하트 숫자</p>
      <div class="info">
        <p>Category: 맥주 > {{ specific_data.whisky_category }} </p>
      </div>
      <p class="descrip">Description: {{ specific_data.whisky_description }}<br></p>
      <div id="map"></div>
      {% include 'navbar.html' %}
    </div>
  </div>

  <script src="{% static 'js/map_whiskey.js' %}"></script>
</body>
</html>