{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/list.css' %}" rel="stylesheet" />
    <link href="{% static 'css/background.css' %}" rel="stylesheet" />
    <title>List</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <div class="page">
        <div class="titleback">
          <span class="title">맥주</span>
        </div>
        <div class="subtitleback">
          <span class="subtitle">라거</span>
          <span class="subtitle">라거</span>
          <span class="subtitle">라거</span>
          <span class="subtitle">라거</span>
        </div>
        <div class="item">
          {% for beer in page_obj %}
          <div class="listgroup">
            <div class="listback"><a href="{% url 'csv_view_beer' beer.beer_index %}">
              <img src="{{ beer.beer_img_url }}" class="img" alt="{{ beer.beer_name }}" width="100"></a></div>
            <span class="list"><a href="{% url 'csv_view_beer' beer.beer_index %}">{{ beer.beer_name }}</a></span>
          </div>
          {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="item">
            {% endif %}
            {% endfor %}
        </div>

        <div class="pagination">
          <span class="step-links">
            {% for i in page_obj.paginator.page_range %}
  {% if i <= 6 %}
    {% if page_obj.number == i %}
      <span class="current">{{ i }}</span>
    {% else %}
      <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
  {% endif %}
  {% if i == page_obj.number|add:1 %}
    {% if i > 6 %}
      <a href="?page={{ i }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}
{% endfor %}
          </span>
        </div>
        {% include 'navbar.html' %}
    </div>
  </body>
</html>