{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/background.css' %}" rel="stylesheet" />
    <title>Alcoholics</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <div class="page">
        <span class="title">Alcoholics</span>
        <div class="banner"></div>
        <div class="line1"></div>
        <span class="subtitle">주류 카테고리</span>
        <div class="line2"></div>
        <div class="item">
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_beer'%}">맥주</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_cocktail'%}">칵테일</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'list_custom' %}">커스텀 칵테일</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_wine' %}">와인</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_liquor' %}">리큐르</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_whisky' %}">위스키</a></span>
          </div>
        </div>
        <nav class="nav">
          <ul class="navbar">
            <li>홈</li>
            <li>술개팅</li>
            <li>마이페이지</li>
            <li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <!-- </li><a href="{% url 'signup' %}">Sign Up</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>