{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/background.css' %}" rel="stylesheet" />
    <title>Alcoholics</title>
  </head>
  <body>
    <div class="background"></div>

    <span class="dd"></span>
    <div id="myModal" class="modal">
      <img src="{% static 'images/wine1.png' %}" width="100"  height="150" >
      <br>
      <div class="modal-content">
        <p>
         <div>이름: 헨쉬키, 헨리스 세븐</div><br>
        <div> 가격: 123,000원</div><br>
            <img src="{% static 'images/wine1des.png' %}" width="95"  height="70">
        </p>
      </div>
    </div>

    <span class="dd2"></span>
    <div id="myModal2" class="modal2">
      <img src="{% static 'images/wine2.jpg' %}" width="100"  height="150" >
      <br>
      <div class="modal-content2">
        <p>
         <div>이름: 가트, 리슬링</div><br>
        <div> 가격: 110,000원</div><br>
            <img src="{% static 'images/wine2des.png' %}" width="95"  height="70">
        </p>
      </div>
    </div>

    <span class="dd3"></span>
    <div id="myModal3" class="modal3">
      <img src="{% static 'images/wine3.png' %}" width="100"  height="150" >
      <br>
      <div class="modal-content3">
        <p>
         <div>이름: 도멘 끌로 루씰리, 투렌 레스깔레</div><br>
        <div> 가격: 75,000원</div><br>
            <img src="{% static 'images/wine3des.png' %}" width="95"  height="70">
        </p>
      </div>
    </div>




    <div class="content">
      <div class="page_main">


        
        <span class="title">Alcoholics</span>
        <div class="banner"></div>
        <div class="line1"></div>
        <span class="subtitle">주류 카테고리</span>
        <div class="line2"></div>
        <div class="item">
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_beer'%}">맥주</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_cocktail'%}">칵테일</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_custom' %}">커스텀 칵테일</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate"><a href="{% url 'category_wine' %}">와인</a></span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate">리큐르</span>
          </div>
          <div class="categroup">
            <div class="cateback"></div>
            <span class="cate">위스키</span>
          </div>
        </div>

<img class="img1" src="{% static 'images/rowan1.png' %}" height="150" >
<br>
<div class="artic1">
<div class="artic2">클래식 스트레이트 버번의  <br>대명사</div>
<div class="artic3"># 파피루스#로완스크릭#핸드리튼</div>

<img class="img2"  src="{% static 'images/rowan.jpg' %}"  width="220"  height="240">

꼬깃꼬깃 터프한 질감 위에 흐르는 '계곡(creek)'처럼 이어져 있는 핸드라이팅
- 클래식한 트렌드 또는 레트로는 바로 이럴때 쓰는 표현이 아닐까.<br><br> 버번의 고장 켄터키에서 탄생하고 미국은 물론 전 세계의 마니아들의 열렬한 지지를 받는 로완스 크릭입니다.
<br><br>허브와 꽃 향을 덮는 카라멜과 바닐라의 향. 기름진 첫 맛으로 시작하여 드라이하게 끝나는 절제력. 
요하 스트레이트 스타일로써 버번의 응축된 진한 향을 원하시는 분들에게 최고의 선택입니다.

</div>

<div class="artic4">
  <img class="img4" src="{% static 'images/buffalo2.png' %}" width="430"    height="100" >
  <div class="artic5">가장 전통적인 버번으로<br> 손꼽히는 위스키</div>
  <div class="artic6"># 버번 위스키#버팔로 트레이스</div>

<img class="img3" src="{% static 'images/buffalo.jpg' %}" width="250"    height="150" >


버팔로 트레이스는 지난 10여 년간 7차례 세계 최고의 증류소로 지명된 버팔로 트레이스 증류소의 주력 브랜드로, 국내외 유명 주류 시상식에서 500개 이상의 수상했습니다.
 <br><br>8~9년의 숙성을 포함한 모든 제작과정은 장인의 수작업이며, 코르크 마개로 마무리해 고급스러운 느낌을 줍니다. 또한,
  버팔로 트레이스는 Jim Murray’s Whisky Bible에서 추천한 세계 최고의 위스키입니다.


</div>



        <nav class="nav">
          <ul class="navbar">
            <li>홈</li>
            <li>술개팅</li>
            <li>마이페이지</li>
            <li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <!-- </li><a href="{% url 'signup' %}">Sign Up</a></li> -->
          </ul>
        </nav>
      </div>
    </div>



    <script>
      const ddElement = document.querySelector('.dd');
      const modal = document.getElementById('myModal');

      ddElement.addEventListener('mouseover', () => {
        modal.style.display = 'block';
      });

      ddElement.addEventListener('mouseout', () => {
        modal.style.display = 'none';
      });


      const ddElement2 = document.querySelector('.dd2');
      const modal2 = document.getElementById('myModal2');

      ddElement2.addEventListener('mouseover', () => {
        modal2.style.display = 'block';
      });

      ddElement2.addEventListener('mouseout', () => {
        modal2.style.display = 'none';
      });


      const ddElement3 = document.querySelector('.dd3');
      const modal3 = document.getElementById('myModal3');

      ddElement3.addEventListener('mouseover', () => {
        modal3.style.display = 'block';
      });

      ddElement3.addEventListener('mouseout', () => {
        modal3.style.display = 'none';
      });
    </script>
  </body>
</html>
