<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search CSV</title>
</head>
<body>
    <h1>Search CSV Files</h1>
    <form method="get" action="{% url 'search_view' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Enter name">
        <button type="submit">Search</button>
    </form>

    <div id="results-container">
        {% if results %}
    
            <ul id="results-list">
                {% for beer in results %}
                <a href="{% url 'csv_view_beer' beer.index %}">111</a>
                    <li> <strong> <img src="{{ beer.image }}" class="img" alt="{{ wine.wine_name }}" width="100"> {{ beer.index }} {{beer.name}} {{beer.description}}</strong> - </li>
                {% endfor %}
            </ul>
        {% elif query %}
            <p>No results found for "{{ query }}"</p>
        {% endif %}
    </div>
</body>
</html>