{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/whiskey_detail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/background.css' %}" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="background"></div>
  <div class="content">
    <div class="page">
    <span class="v95_52">코발 버번 위스키</span>
<!-- 사진박스     -->
    <div class="v95_46"></div>
<!-- 사진 oo-->
    <div class="v95_58"></div>

<!-- 위스키 베이스 틀 -->
    <div class="v95_48"></div>
<!-- 위스키 베이스 내용 oo -->
<span class="v95_59">Whiskey base</span><span class="v95_60">79.0   /  100</span>
<!-- 위스키이름 oo-->
<span class="v95_49">코발 버번 위스키</span>
<!-- 음식점 가격 oo-->
<span class="v95_50">음식점 평균가                  -                254,250 원</span>
<!-- 소매점 가격 oo-->
<span class="v95_51">소매점 평균가                   -                    97,060 원</span>
<!-- 도수 oo-->
<span class="v95_61">도수                      -                           47.0 cl</span>
<!-- 국가 oo-->
<span class="v95_62">  국가                          -                          미국</span>
<!-- 제조사 oo-->
<span class="v95_63">제조사                          -                   Koval Distillery</span>
<span class="v95_64">테이스팅 노트</span>
<!-- 디자인요소 -->
<div class="v95_67"></div>
<div class="v95_69"></div><div class="v95_70"></div>
<div class="v95_73"></div>
<div class="v95_81"></div>

<!-- 테이스팅노트 값 oo  -->
<span class="v95_71">시트러스 류</span>
<span class="v95_72">후추</span>

<!-- 지도위치 -->
<div class="v95_65"></div>
<!-- 내용들어갈곳 -->
<span class="v95_74">51% 이상의 호밀을 사용하면 라이 위스키의 기준을 충족시킬 수 있다. 하지만 코발 싱글 배럴 라이 위스키는 100%라이를 사용하여 더욱 순수하고 강력한 호밀(Rye)의 표현력을 보여준다.코발 싱글 배럴 라이 위스키는 화사한 위스키이다. 맨 처음 향을 맡아 보면 넛맥, 꿀, 그리고 자스민과 후추의 힌트가 느껴진다. 점차 진저, 시나몬 풍미가 나며, 입 안 가득 크리미한 마우스 필로 부드럽고 달콤한 메이플 시럽 피니쉬로 마무리된다.'코발 싱글 배럴 라이 위스키'가 담겨있던 캐스크는 빌리 워커에 의해 글렌알라키 우드 피니시 레인지 중 하나로 사용되기로 했다. 이 캐스크에서 추가 숙성을 거친 '글렌알라키 8년 코발 라이 쿼터 캐스크 우드 피니쉬'에는 코발 싱글 배럴 라이 위스키의 시그니쳐인 우디하고 강력한 풀바디 스파이시 캐릭 터 매력이 원액에 가득 담겨있다.
</span>


*

      <nav class="nav">
        <ul class="navbar">
          <li>홈</li>
          <li>술개팅</li>
          <li>마이페이지</li>
          <li>로그인</li>
        </ul>
      </nav>
    </div>
  </div>
</body>
</html>