<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="../background.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <span class="title">Alcoholics</span>
      <div class="banner"></div>
      <span class="category">주류 카테고리</span>
      <div class="v79_28"></div>
      <div class="v79_29"></div>
      <div class="v1_25"></div>
      <div class="v1_28"></div>
      <div class="v1_29"></div>
      <div class="v1_30"></div>
      <div class="v1_35"></div>
      <div class="v1_31"></div>
      <div class="v1_32"></div>
      <span class="v5_3">국내 맥주</span>
      <span class="v5_6">위스키</span>
      <span class="v5_16">소주</span>
      <span class="v5_15">증류주</span>
      <span class="v5_14">리큐르</span>
      <span class="v5_4">수입 맥주</span>
      <span class="v5_5">와인</span>
      <div class="v4_26"></div>
      <div class="v4_30"></div>
      <div class="v8_15"></div>
      <div class="v8_19"></div>
      <div class="v8_21"></div>
      <div class="v8_23"></div>
      <div class="v8_30"></div>
      <nav class="nav">
        <ul class="navbar">
          <li>홈</li>
          <li>술개팅</li>
          <li>마이페이지</li>
          <li>로그인</li>
        </ul>
      </nav>
    </div>
  </body>
</html>