* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.page {
  height: 900px;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.titleback {
  width: 430px;
  height: 82px;
  background: rgba(210,180,140,0.20999999344348907);
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
}
.title {
  width: 116px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  margin: auto;
}
.subtitleback {
  width: 430px;
  height: 46px;
  background: rgba(246,224,196,0.20999999344348907);
  opacity: 1;
  top: 81px;
  left: 0px;
  overflow: hidden;
  display: flex;
}
.subtitle {
  font-size: 14px;
  margin: auto;
}
.item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.listgroup {
  width: 185px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
.listback {
  background: rgba(210,180,140,0.21);
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  z-index: 1;
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}
.list {
  font-size: 14px;
}