<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/list.css" rel="stylesheet" />
    <link href="../background.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="content">
      <div class="v14_2"></div>
      <div class="v14_12"></div>
      <div class="v14_8"></div>
      <div class="v14_3"></div>
      <span class="v9_202">국내 맥주</span>
      <span class="v9_312">전체</span>
      <span class="v9_316">라거</span>
      <span class="v9_318">페일 라거</span>
      <span class="v9_319">헬레스 라거</span>
      <div class="v9_323"></div>
      <span class="v9_324">가격</span>
      <div class="v9_326"></div>
      <span class="v9_327">가공 형태</span>
      <div class="v9_331"></div>
      <span class="v9_332">태그</span>
      <div class="v14_7"></div>
      <div class="v14_9"></div>
      <div class="v14_13"></div>
      <div class="v14_18"></div>
      <div class="v14_19"></div>
      <div class="v14_22"></div>
      <div class="v14_23"></div>
      <div class="v14_24"></div>
      <div class="v14_25"></div>
      <div class="v14_26"></div>
      <span class="v14_27">에너진 홍삼쌀맥주</span>
      <span class="v14_28">우스라이</span>
      <span class="v14_29">스노이</span>
      <span class="v126_34">카스 라이트</span>
      <span class="v126_33">스포라이스</span>
      <span class="v14_30">UF 싱글몰트 라거</span>
      <ul class="page">
        <li><a href="#" class="num">1</a></li>
        <li><a href="#" class="num">2</a></li>
        <li><a href="#" class="num">3</a></li>
      </ul>
      <nav class="nav">
        <ul class="navbar">
          <li>홈</li>
          <li>술개팅</li>
          <li>마이페이지</li>
          <li>로그인</li>
        </ul>
      </nav>
    </div>
  </body>
</html>