<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var now = new Date();
        document.write(now)
        var x;
        x = "Hello World"
        function writeHello() {
            var x;
            x = "Welcome"
            alert(x)
        }
        var name;
        var studentID;
        function myName() {
            name = prompt("Name");
        }
        function myStudentID() {
            studentID = prompt("Student ID")
        }
        function iam() {
            confirm("My name is " + name + " and my student ID is " + studentID)
        }
        function changeColor() {
            var colorValue = document.getElementById("colorForm").value;
            var tagValue = document.getElementById("tagName").value;
            var element = document.getElementsByTagName(tagValue)
            for (var i = 0; i < element.length; i++) {
                element[i].style.color = colorValue;
            }
        }
        function changeText(my_result) {
            var element = document.getElementById("btn_func");
            if (element.innerText == "result") {
                element.innerText = my_result;
            }
            else {
                element.innerText = "result";
            }
        }
    </script>
</head>

<body>
    <h1>Time</h1>
    <button type="button" onclick="alert('welcome.')">Click Button!</button>
    <button type="button" onclick="document.write(x)">Click Button!</button>
    <button type="button" onclick="writeHello()">Click Button!</button>
    <h1>taptaptap</h1>
    <button type="button" onclick="myName()">Click Button!</button>
    <button type="button" onclick="myStudentID()">Click Button!</button>
    <button type="button" onclick="iam()">Click Button!</button>
    <h1>tagtagtag</h1>
    <form>
        <input type="text" id="tagName">
        <select id="colorForm">
            <option value="black">Black</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
        </select>
        <button type="button" onclick="changeColor()">Change</button>
    </form>
    <h1> tag: h1 </h1>
    <h2> tag: h2</h2>
    <div id="btn_func">result</div>
    <button type="button" onclick="changeText('change')">changeText</button>
</body>

</html>